html,body {height: 100%}

body {
	margin-top: 100px;
	background: #122658 url(../img/triangle-bg-bl.png) no-repeat left bottom;
	}
	
p {font-family: 'Muli', sans-serif; color: white;}
p.intro {font-family: 'Space Mono', monospace; font-size:1.4em;}

h1 {position: absolute; left: 36px; bottom: 16px;}



